<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094531880654-h5e6bi7gu4gv65nvh6bfud4vd6fn3rg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094531880654-h5e6bi7gu4gv65nvh6bfud4vd6fn3rg5</string>
	<key>API_KEY</key>
	<string>AIzaSyAwEEzOkvRSOBkOl4vnkGU50NaN1GnqcMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1094531880654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.collie.work</string>
	<key>PROJECT_ID</key>
	<string>collie-ac9d0</string>
	<key>STORAGE_BUCKET</key>
	<string>collie-ac9d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094531880654:ios:84c492ea1f9817b083229f</string>
	<key>DATABASE_URL</key>
	<string>https://collie-ac9d0-default-rtdb.firebaseio.com</string>
</dict>
</plist>